.App {
  height: 100vh;
  width: 100%;
  background-color: black;
}

.Header {
  height: 85px;
  width: 100%;
  background-color: dodgerblue;
  display: flex;
}

.home-title{
  margin-top: 30px;
  margin-left: 45px;
  font-weight: bold;
  font-size: 20px;
}

.display-container{
  height: 500 px;
  width: 50%;
  margin: 100px 300px;
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-around;
}

#number-count {
  font-weight: bold;
  font-size: large;
  display: flex;
  justify-content: flex-end;
}